*{
    box-sizing:border-box;
}

header { 
    display:flex;
    align-items:center;
    gap:1rem;
    color: white;
    background-image: url('airplane.JPG');
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

header h6 {
    text-align:justify;
    margin-top:40%;
}

header h1 {
    background: linear-gradient(45deg, #f3de90 0, #eec13b 50%, #aa861a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    width:200px;
}

h1, h2, h6 {
    font-family: Hind, "Gill Sans", sans-serif;
}

p, figcaption {
    font-family: Gowun Dodum, "Gill Sans", sans-serif;
}